$colors: (
    'text': (
        'text-1': #fff,
        'text-2': #050734,
        'text-3': #37385C,
        'text-4': #EFF1FF,
        'text-5':#00796A,
        'text-6':#032530,
        'text-7':#0E082B,
        'text-8':#46475F,
        'text-9':#2f4858,
        'text-10':#010225,
        'text-11':#3D3E58,
        'text-12':#243742,
        'text-13':#476C85,
        'text-14':#010225,
        'text-15':#505169,
    ),
    'bg': (
        'bg-1':#fff,
        'bg-2':#050734,
        'bg-3': #37385C,
        'bg-4': #EFF1FF,
        'bg-5': var(--Main-Color, linear-gradient(90deg, #2f4858 0%, #162127 100%)),
        'bg-6':#05616C,
        'bg-7':#032530,
        'bg-8':#0E082B,
        'bg-9':#334D5B,
        'bg-10': linear-gradient(90deg, #E09B33 1.1%, #DF972A 100%),
        'bg-11':#010225,
        'bg-12':#2f4858,
        'bg-13':#010225,
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #dfdcdc,
    )
);

