@use '../utils/' as *;

/*
============================
Name:  Eitech - Technology And IT Solutions Services
Version: 1.0.0
Description: Eitech - Technology And IT Solutions Services
Author: unifato
Author URI: https://themeforest.net/user/unifato/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA ===============*/
/*============= HERO CSS AREA ===============*/
/*============= MOBILE-MENU CSS AREA ===============*/
/*============= ABOUT CSS AREA ===============*/
/*============= SERVICE CSS AREA ===============*/
/*============= WORK CSS AREA ===============*/
/*============= TESTIMONIAL CSS AREA ===============*/
/*============= BLOG CSS AREA ===============*/
/*============= CONTACT CSS AREA ===============*/
/*============= TEAM CSS AREA ===============*/
/*============= FAQ CSS AREA ===============*/
/*============= CASE CSS AREA ===============*/
/*============= CTA CSS AREA ===============*/
/*============= OTHERS CSS AREA ===============*/
/*============= FOOTER CSS AREA ===============*/